#components-layout-demo-side .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }

  .logoimg{
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    margin-left: 30px;
    width: 130px;
  }

 .avatardash{
   width: 50px;
   border-radius: 50%;
   margin-top: -2px;
   }