
.login-form {
  max-width: 350px;
}

.contLogin {
  max-width: 350px;
  height: auto;
  background: white;
  padding: 30px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.containerLogin {
  max-width: 400px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 120px;
}


.btn-primary {
  width: 270px;
}

.forgot{
  width: 270px;
  flex-direction: row;
  margin-bottom: 20px;
  margin-top: 20px;
  
}

.login-form-forgot{
  margin-left: 50px;
}

.contLogin h3{
  margin-bottom: -5px;
  text-align: center
}

.contLogin p{
  margin-bottom: 30px;
  text-align: center
}
